#about {
    display: flex;
    width: 98vw;
    padding: 3vw;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.7em;
}

#about span {
    background: #020024;
    background: linear-gradient(342deg, rgba(2, 0, 36, 1) 0%, rgb(0 90 112) 19%, rgba(255, 255, 255, 1) 100%);
    background-clip: text;
    color: transparent;
}

#about-left {
    width: 50%;
}

#about-right {
    text-align: right;
    width: 50%;
}

/* Resume Button */

#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    overflow: hidden;
    height: 4rem;
    background-size: 300% 300%;
    cursor: pointer;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #fe53bb 45%, #8f51ea 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 2rem 0rem 0rem 3rem;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

#resume strong {
    z-index: 2;
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 0 0 2px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

#resume .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

#resume .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

#resume .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

#resume:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

#resume:hover {
    transform: scale(1.1);
}

#resume:active {
    border: double 4px #fe53bb;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

#resume:active .circle {
    background: #fe53bb;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


@media (max-width: 720px) {
    #about {
        font-size: 2em;
        height: 100vh;
    }

    #resume {
        margin: 1rem 0rem 0rem -1rem;
        scale: 0.7;
    }

}

@media (max-width: 400px) {
    #about {
        font-size: 1.8em;        
    }

    #resume {
        margin: 1rem 0rem 0rem -1rem;
        scale: 0.7;
        width: 13rem;
    }

}