.navbar {
    display: flex;
    background: #061a1f;
    border: 1px solid cyan;
    border-radius: 20px;
    padding: 20px;
    gap: 22px;
    position: fixed;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);    
    z-index: 12;
}

.nav-item a {
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.nav-item i {
    font-size: 22px;
    margin-right: 8px;
    min-width: 22px;
    text-align: center;
}

.nav-item span {
    max-width: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.navbar:hover .nav-item span {
    max-width: 200px;
    opacity: 1;
    padding-left: 5px;
}

.svg-inline--fa {
    height: 2em;
}